html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

a {
    text-decoration: none;
}

body {
    background: #0c353d url(../assets/images/background.png) no-repeat;
    background-size: cover;
    height: 2873px;
}

.container {
    margin: 0 auto;
}

#top-nav {
	display: flex;
	height: 76px;
	background-color: #333;
	align-items: center;
  justify-content: center;
	position: fixed;
	width: 100%;
  z-index: 1;
}


.nav{
	display: flex;
	list-style-type: none;
}

.nav a  {
    display: block;
    line-height: 40px;
    padding: 0 24px 0 24px;
    color: #c9c9c9;
    border-left: solid #404040 .1px;
}

.nav img{
  display: block;
  line-height: 40px;
  padding: 0 24px 0 24px;
}

.board{
  margin-left: 6rem;
}



#side-nav{
	position: fixed;
	right: 40px;
	top: 50%;
}


#side-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
#side-nav li {
  text-align: right;
  list-style: none;
}
#side-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#side-nav a:after {
  content: "";
  display: table;
  clear: both;
}
#side-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
#side-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#side-nav a:hover .cd-label {
  opacity: 1;
}
#side-nav a.is-selected .cd-dot {
  background-color: white;
}
#side-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d88683;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
#side-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;}



#landing {
	display: flex;
	align-items: center;
	height: 100vh;
	color: white;
}


#intro {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.title{
	position: absolute;
  transform: translate(15%, 0);
}

#the{
	margin-left: 8.0rem;
	letter-spacing: .5rem;
	font-size: 2.9rem;
	height: 2.4rem;
}

#whitsundays{
	font-size: 4.4rem;
  letter-spacing: .1rem;
	height: 4.7rem;
	margin: 0;
}

#movie{
	font-size: 1.7rem;
  font-weight: lighter;
}

.play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  color: white;

}

.play:hover,
img
 {
  cursor: pointer;
}

.problem-title,
.objective-title,
.solution-title
{
  font-size: 3rem;
  font-weight: lighter;
}

.desc-title-a,
.desc-title-b{
  font-size: 2.4rem;
}

p{
  font-size: 1rem;
  font-weight: lighter;
}

#solution{
	text-align: center;
	height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.solution-row{
	text-align: left;
	display: flex;
	justify-content: center;
}

.solution-row-a{
  margin-right: 3rem;
}

.solution-highlight{
  font-size: 1.7rem;
}

#result-and-effectiveness{
  height: 100vh;
  background-color: #164559;
  display: flex;
  padding: 5rem;
  text-align: center;

}

.result{
   display: flex;
   width: 100%;
}

.tabme{
   border: solid green 1px;
   display: flex;
}

.tabme-video{
   height: 400px;
   width: 690px;
   background-color: black;
   border-radius: 4%;
}

.tabme-details{
   position: relative;
   transform: translate(250%, -205%);
   width: 25%;
   text-align:left;
}

.tabme-photos{
  margin-left: 15%;
  text-align: left
}

.all {
  margin:40px 20%;
  width:60%;
  float:left;
}

.wrap-tabs,
.wrap-tabs .tabs,
.wrap-tab-contents,
.tab-content {
  width:100%;
  float:left;
  position:relative;
}

.wrap-tabs {
  margin:0 0 10px 0;
}

.wrap-tabs .tabs {
  transition:left 0.4s;
}

.wrap-tabs .wrap-tabs-overlay-left,
.wrap-tabs .wrap-tabs-overlay-right {
  position:absolute;
  height:100%;
  width:40px;
  background:none #ff0;
  top:0;
  left:0;
  z-index:100;
  cursor:pointer;
}

.wrap-tabs .wrap-tabs-overlay-right {
  left:auto;
  right:0;
}

.tabs .tab {
  float:left;
  padding:5px;
  margin:0 10px 0 0;
  color:#aaa;
}

.tabs .tab:hover {
  cursor:pointer;
  color:#000;
}

.tabs .tab-active,
.tabs .tab-active:hover {
  background: #1b3f4e;
  border-radius: 10px;

}

.tab-contents {
  position:relative;
}

.grtyoutube-popup {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:99999;
}

.grtyoutube-popup-content {
  margin-top:150px;
  width:95%;
  max-width:850px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.grtyoutube-popup-close {
  position:absolute;
  top:-30px;
  right:0;
  color:#FFF;
  font-size:25px;
  width:17px;
  height:17px;
  cursor:pointer;
}

.grtyoutube-iframe {
  width:100%;
  height:480px;
}
@media (max-width:767px) {
  .grtyoutube-iframe {
    width:100%;
    height:350px;
  }
}

.grtyoutube-dark-theme{
  background: rgba(0,0,0, 0.85);
}

.grtyoutube-dark-theme .grtyoutube-popup-content {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
  -moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
  box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
}

.grtyoutube-dark-theme .grtyoutube-popup-close {
  background: url('icon-close-white.png') no-repeat;
}

.grtyoutube-light-theme {
  background: rgba(255,255,255, 0.85);
}

.grtyoutube-light-theme .grtyoutube-popup-content {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}

.grtyoutube-light-theme .grtyoutube-popup-close {
  background: url('icon-close-black.png') no-repeat;
}

